{% if value >= 500 %}
    {% set status_class = 'danger' %}
{% elseif value >= 400 %}
    {% set status_class = 'warning' %}
{% elseif value >= 300 %}
    {% set status_class = 'default' %}
{% elseif value >= 200 %}
    {% set status_class = 'success' %}
{% else %} {# 100 #}
    {% set status_class = 'info' %}
{% endif %}

<div class="text-left">
    <span class="label label-{{ status_class }}">
        {% if value is null %}
            {{ 'enum.process_status.ongoing'|trans({}, 'messages') }}
        {% else %}
            {{ value }}
        {% endif %}
    </span>
    {% if object is defined and object.restartedAt is defined and object.restartedAt is not null %}
        <i
            class="fa fa-refresh"
            style="color: gray;
            margin-left: 10px;
            font-size: 12px;"
            title="Relancé le {{ object.restartedAt|date(constant('Smart\\CoreBundle\\Formatter\\PhpFormatter::DATETIME_WITH_SECONDS_FR')) }}"
        ></i>
    {% endif %}
</div>
