
// Bootstrap utils
@import 'bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/_mixins';

// AdminLTE utils
@import 'adminlte/variables';
@import 'adminlte/mixins';

@import "tailwind";

@import "variables";
@import "skin";
@import "login";
@import "layout";
@import "image";
@import "documentation";
